:root {
    --lavender: #D3B1D3;
    --black: #000000;
    --frost: #F5F5F5
}

html {
    background-color: var(--black);
}

/* Basic containers and display setups */
.flexy {
    display: flex;
    flex-wrap: wrap;
}

.equally {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toSides {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.fullContainer {
    width: 100%;
}

.fifteenContainer {
    width: 15%;
}

.fortyFiveContainer {
    width: 45%;
}

.fortyNineContainer {
    width: 49%;
}

.eightyFiveContainer {
    width: 85%;
}

/* Title Section */
#titleContainer {
    background-color: var(--lavender);
}

/* The actual title */
#title {
    background-color: var(--black);
    color: var(--lavender);
    font-size: 60px;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* The links on the top right */
.titleLink {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 45px;
}

.titleA {
    color: var(--black);
    text-decoration: none;
    padding: 5px;
}

.titleACurrent {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
}

/* An image of me */
#mePic {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
}

/* subtitle in background image */
#coolSub {
    background-color: var(--lavender);
    color: var(--black);
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 30px;
}

/* The background color for all the main body sections */
.bodySec {
    background-color: var(--black);
}

/* Used to add space between sections */
.spacy {
    height: 40px;
}

/* Styling for large wording on left side of page */
.bigSideWords {
    font-size: 55px;
    font-weight: bold;
    color: var(--lavender);
    justify-content: right;
    text-align: right;
    padding-right: 10px;
    border-right-style: solid;
}

/* Styling for main wording */
.mainStuff {
    padding: 30px 7%;
    color: var(--lavender);
}

.mainStuff h3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 35px;
    font-weight: bold;
}

.mainStuff img {
    height: 200px;
    border-radius: 15px;
}

.mainStuff p {
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 20px;
}

.mainStuff label {
    margin-bottom: 5px;
}

.mainStuff input {
    width: 99%;
}

.mainStuff textarea {
    width: 99%;
}

.mainStuffWork {
    padding: 30px 7%;
    color: var(--black);
}

form {
    margin: 30px 0px;
}

form div > * {
    margin: 10px 0px;
}

button {
    margin: 10px 0px;
}

#contactFormMessage {
    height: 200px;
}

.errMsg {
    margin: -8px 0px 10px 0px;
    color: red;
    font-size: 12px;
}

.errMsg p {
    margin: 20px 0 0 0;
}

/* Images used for Work section */
#work1 {
    background-image: url('../assets/petConnect2.png');
}

#work2 {
    background-image: url('../assets/bseScreenshot.jpg');
}

#work3 {
    background-image: url('../assets/jateScreenshot.jpg');
}

#work4 {
    background-image: url('../assets/petConnectScreenshot.jpg');
}

#work5 {
    background-image: url('../assets/socialNetworkAPIScreenshot.jpg');
}

#work6 {
    background-image: url('../assets/techBlogScreenshot.jpg');
}

/* Cover is used as an element over the images to add variable opacity based on hover */
.cover {
    position: absolute;
    background-color: gray;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.workContainer:hover .cover {
    opacity: 0;
}

/* Used to make a whole container a clickable link */
.invisLink {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Styling for Work section */
.workSmall {
    height: 400px;
    background-size: cover;
}

.workContainer {
    display: flex;
    position: relative;
    border-style: solid;
    border-color: var(--lavender);
    margin: 2%;
    height: 400px;
    background-size: contain;
}

.workInsideContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: var(--lavender);
    margin-bottom: 20px;
}

.workWords {
    text-align: left;
    padding: 5px;
}

.workTitle {
    font-size: 25px;
}

.workSubtitle {
    font-size: 15px;
}

.hubLink {
    color: var(--black);
}

.resumeSpacerBig {
    height: 50px;
    width: 100%;
}

.resumeSpacer {
    height: 30px;
    width: 100%;
}

.resumeTitle {
    font-weight: bold;
}

.resumeList li {
    font-size: 14px;
    padding-left: 5px;
}

#resumeLink {
    text-decoration: none;
    font-weight: bold;
    color: var(--lavender);
    display: inline-block;
}

#resumeLink:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.secretNav {
    color: var(--lavender);
    cursor: default;
}

.secretp {
    width: 100%;
}

.contact {
    border-style: solid;
    border-color: var(--lavender);
    font-size: 24px;
    font-weight: bold;
}

/* styling for Contact Me footer section */
.footerA {
    color: var(--lavender);
}

/* Add space after Contact Me section for visual appeal */
#spacyEnd {
    height: 15px;
}

#footerContainer {
    height: 50px;
}

#footerLinkContainer {
    width: 200px;
}

.footerA {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
}

/*Adjustments for screen size*/

@media screen and (max-width: 1300px) {
    .bigSideWords {
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .bigSideWords {
        font-size: 35px;
    }
}

@media screen and (max-width: 900px) {
    .bigSideWords {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .fortyNineContainer {
        width: 100%;
    }
    .workContainer {
        margin-left: 0%;
        margin-right: 0%;
    }
    .bigSideWords {
        font-size: 20px;
    }
}